body {
  margin: 0;
  padding: 0;
}

.wrap {
  min-width: 100%;
  position: absolute;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(25.8%, #fff), to(#2d2e2e));
  background-image: linear-gradient(0deg, #fff 25.8%, #2d2e2e);
  min-height: 100%;
  overflow: hidden;
}

.wrap #update {
  position: fixed;
  left: 0;
  top: 0;
  font-size: 18px;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-animation: 10s linear run3;
          animation: 10s linear run3;
  text-align: center;
}

.wrap #update .loadbox {
  position: absolute;
  width: 160px;
  height: 150px;
  color: #aaa;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -75px;
}

.wrap #update .loadbox img {
  margin: 10px auto;
  display: block;
  width: 40px;
}

.wrap .left {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  height: 100%;
  font-size: 16px;
  background: url(../images/xingkong.jfif) center;
  text-align: center;
}

.wrap .left .logoDiv {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #292a2b;
  font-size: 17px;
  color: #bbd8c6;
  vertical-align: bottom;
}

.wrap .left .menu-title {
  margin-left: 15px;
  color: #668fa0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.wrap .left .menu-item {
  padding-left: 15px;
  line-height: 40px;
  height: 40px;
  color: #aab1b7;
  cursor: pointer;
}

.wrap .left .head-item {
  font-size: 20px;
}

.wrap .left #logoHeader {
  position: absolute;
  top: 10px;
  left: 10px;
  float: left;
  width: 60px;
  height: 60px;
  background: url(../images/head.jpg) center;
  border-radius: 50%;
}

.wrap .right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  box-sizing: border-box;
  padding-left: 200px;
  overflow-y: overlay;
  overflow-x: hidden;
  clear: both;
  min-width: 100%;
  min-height: 500px;
}

.wrap .right #one .lian {
  width: 1200px;
  margin: 2% auto;
}

.wrap .right #one .lian li {
  list-style: none;
}

.wrap .right #one .lian li img {
  width: 1200px;
  height: 70px;
}

.wrap .right #one .lian .blog2 img {
  height: 600px;
}

.wrap .right #two .two-blog {
  width: 1260px;
}

.wrap .right #two .two-blog .two-head {
  margin: auto;
  width: 1260px;
  height: 40px;
}

.wrap .right #two .two-blog .two-head img {
  width: 100%;
}

.wrap .right #two .two-blog .two-main {
  margin: auto;
  height: 720px;
  position: relative;
}

.wrap .right #two .two-blog .two-main .img1 {
  width: 870px;
  height: 100%;
  position: absolute;
}

.wrap .right #two .two-blog .two-main .img2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.wrap .right #three .three-content {
  width: 960px;
  margin: 2% auto;
}

.wrap .right #three .three-content li {
  list-style: none;
}

.wrap .right #three .three-content li img {
  width: 100%;
  height: 300px;
}

.wrap .right #three .three-content .blog7 img {
  height: 400px;
}

.wrap .right #four .four-content {
  width: 960px;
  margin: 2% auto;
}

.wrap .right #four .four-content li {
  list-style: none;
}

.wrap .right #four .four-content li img {
  width: 100%;
  height: 300px;
}

.wrap .right #four .four-content .blog9 img {
  height: 400px;
}

.wrap .right #five {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(25.8%, #fff), to(#e7380c));
  background-image: linear-gradient(0deg, #fff 25.8%, #e7380c);
}

.wrap .right #five .five-content {
  width: 960px;
  margin: 2% auto;
}

.wrap .right #five .five-content li {
  list-style: none;
}

.wrap .right #five .five-content li img {
  width: 100%;
  height: 600px;
}

.wrap .right #five .five-content .gitee2 img {
  height: 500px;
}

.wrap #home {
  height: 60px;
  width: 70px;
  margin: 200px auto;
}

.wrap #home .logo {
  position: relative;
  background-color: #c5bfbf;
  width: 60px;
  height: 100%;
  top: 0;
  left: 40px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  float: left;
  margin-right: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.wrap #home .logo .img1,
.wrap #home .logo .img2,
.wrap #home .logo .img3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrap #home .logo .img1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 0 15px 15px #73a5ad;
          box-shadow: 5px 0 15px 15px #73a5ad;
  opacity: 0.5;
  background-size: 100% 100%;
  -webkit-animation: rotate1 3s linear infinite;
          animation: rotate1 3s linear infinite;
}

.wrap #home .logo .img2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url(../images/jt.png);
  background-size: 100% 100%;
  -webkit-animation: rotate2 2s linear infinite;
          animation: rotate2 2s linear infinite;
}

.wrap #home .logo .img3 {
  width: 35px;
  height: 35px;
  background: url(../images/blog.jpg) no-repeat;
  background-size: 100% 100%;
}

@-webkit-keyframes rotate1 {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes rotate1 {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@-webkit-keyframes rotate2 {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate2 {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes run3 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes run3 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
/*# sourceMappingURL=blog.css.map */