@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-image: radial-gradient(ellipse farthest-corner at center center, #edeff5 0%, #02010c 100%);
    background-image: radial-gradient(ellipse farthest-corner at center center, #f4f5f8 0%, #010b29 100%);
    cursor: progress;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: url(../images/log.jpeg) center;
    overflow: hidden;
}

#left-log {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 5%;
    left: 5%;
    float: left;
    background-color: #ccc;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 5px 5px #2b3b3b;
    box-shadow: 0 5px 5px 5px #2b3b3b;
    opacity: 0.6;
    overflow: hidden;
    z-index: 6666;
    -webkit-transition: all 1s;
    transition: all 1s;
}

#left-log .img1,
#left-log .img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#left-log .img1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url(../images/jt.png);
    background-size: 100% 100%;
    -webkit-animation: rotate2 2s linear infinite;
    animation: rotate2 2s linear infinite;
}

#left-log .img2 {
    width: 60px;
    height: 60px;
    background: url(../images/blog.jpg) no-repeat;
    background-size: 100% 100%;
}

#left-log:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#canvas {
    width: 100%;
    height: 100%;
    position: flex;
    opacity: 0.1;
    z-index: 6;
}

#mid-load {
    position: absolute;
    height: 420px;
    width: 340px;
    background-color: #1b5975;
    -webkit-box-shadow: 1px 1px 15px 5px #a6aaaa;
    box-shadow: 1px 1px 15px 5px #a6aaaa;
    opacity: 0.4;
    z-index: 600;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#mid-load .login {
    /*弹性布局 让子元素称为弹性项目*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*让弹性项目垂直排列  原理是改变弹性盒子的主轴方向  
父元素就是弹性盒子  现在改变后的主轴方向是向下了*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*让弹性项目在交叉轴方向水平居中  现在主轴的方向是向下  
交叉轴的方向是与主轴垂直 交叉轴的方向是向右*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 420px;
    width: 340px;
    padding: 10px 0;
    /* background-color: rgb(27, 89, 117); */
}

#mid-load .login h2 {
    font-family: "cursive";
    color: #fff;
    margin-bottom: 30px;
}

#mid-load .login .login_box {
    /*相对定位*/
    position: relative;
    width: 100%;
    margin: 30px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#mid-load .login .login_box input {
    /*清除input框自带的边框和轮廓*/
    outline: none;
    border: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    /*背景颜色为透明色*/
    background-color: transparent;
    text-indent: 1em;
}

#mid-load .login .login_box input::-webkit-input-placeholder {
    font-size: 12px;
    color: aqua;
    opacity: 0.7;
}

#mid-load .login .login_box input:-ms-input-placeholder {
    font-size: 12px;
    color: aqua;
    opacity: 0.7;
}

#mid-load .login .login_box input::-ms-input-placeholder {
    font-size: 12px;
    color: aqua;
    opacity: 0.7;
}

#mid-load .login .login_box input::placeholder {
    font-size: 12px;
    color: aqua;
    opacity: 0.7;
}

#mid-load .login .login_box input:focus::-webkit-input-placeholder {
    font-size: 14px;
}

#mid-load .login .login_box input:focus:-ms-input-placeholder {
    font-size: 14px;
}

#mid-load .login .login_box input:focus::-ms-input-placeholder {
    font-size: 14px;
}

#mid-load .login .login_box input:focus::placeholder {
    font-size: 14px;
}

#mid-load .login .login_box label {
    width: 16%;
    text-align: right;
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
    /*这个属性的默认值是auto 默认是这个元素可以被点击
        但是如果我们写了none  就是这个元素不能被点击，就好像它可见但是不能用  
        可望而不可及*/
    /*这个就是两者的区别*/
    pointer-events: none;
    /*加个过度*/
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#mid-load .login .login_box label span {
    padding: 0 8px;
}

#mid-load .login .log {
    /*overflow: hidden;*/
    position: relative;
    padding: 10px 20px;
    margin: 35px 0;
    color: #0fbfc9;
    /*取消a表现原有的下划线*/
    text-decoration: none;
    /*同样加个过渡*/
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#mid-load .login .log:hover {
    color: #fff;
    border-radius: 5px;
    background-color: #03e9f4;
    -webkit-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

#mid-load .login .log span {
    position: absolute;
}

#mid-load .login .log span:first-child {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    /*to right 就是往右边 下面的同理*/
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(#03e9f4));
    background: linear-gradient(to right, transparent, #03e9f4);
    /*动画 名称  时长 linear是匀速运动 infinite是无限次运动*/
    -webkit-animation: move1 1s linear infinite;
    animation: move1 1s linear infinite;
}

#mid-load .login .log span:nth-child(2) {
    right: 0;
    top: -100%;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#03e6f4));
    background: linear-gradient(transparent, #03e6f4);
    /*这里多了个0.25s其实是延迟时间*/
    -webkit-animation: move2 1s linear 0.25s infinite;
    animation: move2 1s linear 0.25s infinite;
}

#mid-load .login .log span:nth-child(3) {
    right: -100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(transparent), to(#03e9f4));
    background: linear-gradient(to left, transparent, #03e9f4);
    -webkit-animation: move3 1s linear 0.5s infinite;
    animation: move3 1s linear 0.5s infinite;
}

#mid-load .login .log span:last-child {
    left: 0;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#03e9f4), to(transparent));
    background: linear-gradient(#03e9f4, transparent);
    -webkit-animation: move4 1s linear 0.75s infinite;
    animation: move4 1s linear 0.75s infinite;
}

.box {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: absolute;
    top: 15%;
    right: 10%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(13deg);
    transform: rotateX(13deg);
    -webkit-animation: move 5s linear infinite;
    animation: move 5s linear infinite;
    z-index: 666;
}

.box li {
    list-style: none;
}

.box .minbox {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
    top: 30px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 2s;
}

.box .minbox li {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
}

.box .minbox li img {
    width: 100px;
    height: 100px;
}

.box .minbox li:nth-child(1) {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
}

.box .minbox li:nth-child(2) {
    -webkit-transform: rotateX(180deg) translateZ(50px);
    transform: rotateX(180deg) translateZ(50px);
}

.box .minbox li:nth-child(3) {
    -webkit-transform: rotateX(-90deg) translateZ(50px);
    transform: rotateX(-90deg) translateZ(50px);
}

.box .minbox li:nth-child(4) {
    -webkit-transform: rotateX(90deg) translateZ(50px);
    transform: rotateX(90deg) translateZ(50px);
}

.box .minbox li:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(50px);
    transform: rotateY(-90deg) translateZ(50px);
}

.box .minbox li:nth-child(6) {
    -webkit-transform: rotateY(90deg) translateZ(50px);
    transform: rotateY(90deg) translateZ(50px);
}

.box .maxbox li:nth-child(1) {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
}

.box .maxbox li:nth-child(2) {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
}

.box .maxbox li:nth-child(3) {
    -webkit-transform: rotateX(-90deg) translateZ(50px);
    transform: rotateX(-90deg) translateZ(50px);
}

.box .maxbox li:nth-child(4) {
    -webkit-transform: rotateX(90deg) translateZ(50px);
    transform: rotateX(90deg) translateZ(50px);
}

.box .maxbox li:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(50px);
    transform: rotateY(-90deg) translateZ(50px);
}

.box .maxbox li:nth-child(6) {
    -webkit-transform: rotateY(90deg) translateZ(50px);
    transform: rotateY(90deg) translateZ(50px);
}

.box .maxbox {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 0;
    top: -20px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.box .maxbox li {
    width: 200px;
    height: 200px;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    -webkit-transition: all 1s ease;
    transition: all 2s ease;
}

.box .maxbox li img {
    width: 200px;
    height: 200px;
    margin: auto;
    transition: all 2s;
}

.box .maxbox li img:hover {
    transform: scale(1.5);
    border-radius: 50%;
}

.box .maxbox li:nth-child(1) {
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
}

.box .maxbox li:nth-child(2) {
    -webkit-transform: rotateX(180deg) translateZ(100px);
    transform: rotateX(180deg) translateZ(100px);
}

.box .maxbox li:nth-child(3) {
    -webkit-transform: rotateX(-90deg) translateZ(100px);
    transform: rotateX(-90deg) translateZ(100px);
}

.box .maxbox li:nth-child(4) {
    -webkit-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
}

.box .maxbox li:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
}

.box .maxbox li:nth-child(6) {
    -webkit-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
}

footer {
    color: #fff;
    border-top: 0.1px gray solid;
}

@-webkit-keyframes move1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

@keyframes move1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

@-webkit-keyframes move2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

@keyframes move2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

@-webkit-keyframes move3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

@keyframes move3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

@-webkit-keyframes move4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

@keyframes move4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

@-webkit-keyframes rotate2 {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate2 {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: rotateX(30deg) rotateY(0deg);
        transform: rotateX(30deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateX(30deg) rotateY(360deg);
        transform: rotateX(30deg) rotateY(360deg);
    }
}

@keyframes move {
    0% {
        -webkit-transform: rotateX(30deg) rotateY(0deg);
        transform: rotateX(30deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateX(30deg) rotateY(360deg);
        transform: rotateX(30deg) rotateY(360deg);
    }
}


/*# sourceMappingURL=login.css.map */